<!-- 4.0.59 - 4.0.60 DomainTemplate.config  -->
		
<!--
The top level elements in this file should already exist in your config file.

You only need to copy the element family underneath each comment line.

Most everything that is being added to these config files have similar records 
that already exist, so just take a look around for similar entries to make 
sure everything looks right.

You can consult the full DomainTemplate.config file for a full configuration example.
-->

<services>
	<!-- DiversionService -->
	<service behaviorConfiguration="ServiceMessageInspector" name="HIFIS.DOMAIN.BusinessServices.DiversionService">
	<endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
				contract="HIFIS.CONTRACTS.WCFContracts.ServiceContracts.IDiversionService">
	  <identity>
		<dns value="localhost" />
	  </identity>
	</endpoint>
	<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	<host>
	  <baseAddresses>
		<add baseAddress="http://localhost:8732/Design_Time_Addresses/HIFIS.DOMAIN/BusinessServices/DiversionService/" />
	  </baseAddresses>
	</host>
	</service>

	<!-- OutreachService -->
	<service behaviorConfiguration="ServiceMessageInspector" name="HIFIS.DOMAIN.BusinessServices.OutreachService">
		<endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
					contract="HIFIS.CONTRACTS.WCFContracts.ServiceContracts.IOutreachService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		<host>
			<baseAddresses>
				<add baseAddress="http://localhost:8732/Design_Time_Addresses/HIFIS.DOMAIN/BusinessServices/OutreachService/" />
			</baseAddresses>
		</host>
	</service>
</services>