<!-- 4.0.59 - 4.0.60  -->
		
<!--
The top level elements in this file should already exist in your config file.

You only need to copy the element family underneath each comment line.

Most everything that is being added to these config files have similar records 
that already exist, so just take a look around for similar entries to make 
sure everything looks right.

You can consult the full WebTemplate.config file for a full configuration example.
-->

<client>

	<!-- DiversionService -->
	<endpoint
			address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DiversionService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
			contract="DiversionServiceReference.IDiversionService"
			name="WSHttpBinding_IDiversionService">
	<identity>
	  <dns value="localhost" />
	</identity>
	</endpoint>
	  
	<!-- OutreachService -->
	<endpoint
			  address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.OutreachService.svc"
			  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
			  contract="OutreachServiceReference.IOutreachService"
			  name="WSHttpBinding_IOutreachService">
		<identity>
			<dns value="localhost" />
		</identity>
	</endpoint>
</client>