@model BulletinViewModel          
@{
    ViewBag.ViewTitle = Labels.viewTitle_PrintBulletin;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

<div>
    @Html.EditorFor(model => model.Description, "TinyMCE_Print")
</div>

<div class="mrgn-tp-md">
    @Html.Partial("Plugins/_TinyMCEScript")
    @Html.ActionLink(Labels.Cancel, ViewBag.redirectTo != null && ViewBag.redirectTo != "" ? (string)ViewBag.redirectTo : "Bulletins", "Bulletins", null, new { @class = "cancelButton", alt=Labels.Cancel, aria_label=Labels.Cancel, @role="button" })
</div>
  


