<?xml version="1.0" encoding="utf-8"?>

<!--
HIFISWeb web.config.

Create a copy of this file at the same location, and rename it from 'WebTemplate.config' to 'web.config'

Constants to replace

** Connection strings **
DATA_SOURCE
INITIAL_CATALOG
USER_ID
USER_PASSWORD

** Endpoint address **
HIFIS_DOMAIN_ADDRESS

** Session settings **
SESSION_TIMEOUT_MINUTES

** Mail settings **
SMTP_EMAIL
SMTP_HOST
SMTP_PORT
SMTP_ENABLE_SSL (TRUE/FALSE)
SMTP_PASSWORD
SMTP_USERNAME
SMTP_ENABLESSL
SMTP_HOST
SMTP_PORT

** Binding settings **
WS_HTTP_BINDING
If this is not your first installation, it is recommended that you copy the binding elements
from your existing web.config file. Note that the attribute values in the binding elements 
in this config file must match the corresponding binding element in the HIFIS Domain web.config file.

BINDING_SECURITY_MODE
If the Web and Domain portions of your HIFIS app are on separate servers
set the security mode on the line following 'BINDING_SECURITY_MODE' to 'None'

~~ATTENTION~~
We recommend NOT using 'Message' security, as it has been proven to cause issues with
many transactions due to the methods used for encrypting the traffic. If you have
Message security we recommend changing the mode to 'None' to improve performance.
If your installation is configured for use with SSL, you can select the 'Transport'
security mode.

** Error Logging Directory **
ELMAH_LOG_DIR
NOTE: IUSRS group requires MODIFY rights on folder

** SSL **
Steps to configure HIFIS 4 for use with SSL

1. Install the security certificate on the server as per the instructions of the provider.
2. Configure the IIS site binding to use https (Edit Binding)
3. Enable SSL for HIFIS.Web
4. In the web.config file for HIFIS.Web make the following changes:
   
   Within <client>, for each <endpoint> modify the bindingConfiguration from
   bindingConfiguration="WSHttpBinding_Standard" to bindingConfiguration="WSHttpsBinding_Secure"
   
   For each service reference configured in the <client> section, adjust the endpoint address
   to reference https instead of http:
   
   '<endpoint address="http://HIFIS_DOMAIN_ADDRESS' to '<endpoint address="https://HIFIS_DOMAIN_ADDRESS'

   
** HTTP Redirection / URL Redirect Module required **   
To automatically redirect enduser to SSL (https) a redirect is required. 
This feature requires a specific module to be installed on the server and varies slightly depeding on your IIS version.

For more information see:
 - https://www.microsoft.com/en-us/download/details.aspx?id=47337
 - https://www.iis.net/downloads/microsoft/url-rewrite

After this module installation search for ** HTTP Redirection / URL Redirect Rule ** below and uncomment <rewrite> tag

** Crystal Reports **
There are a number of folders required to allow Crystal Reports to function,
each of these folders require the IUSR group to have MODIFY rights:

 - HIFIS.Web/ReportDocs/Temp
 - HIFIS.Domain/log
 - HIFIS.Domain/Reports/Temp
 
 To run Crystal Reports through the application you need the Crystal Reports
 Runtime version 13.0.3500 installed. We have it available for download here:
  http://downloads.businessobjects.com/akdlm/cr4vs2010/CRforVS_redist_install_64bit_13_0_24.zip
 
 You will also need to install the SQL Server Native Client, available here:
 https://www.connectionstrings.com/download-sql-server-native-client/ 
 
-->

<configuration>
	<configSections>
		<sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
		</sectionGroup>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.webServer>
	
	<!-- The following section will force all http urls to redirect to https -->
    <!-- ** HTTP Redirection / URL Redirect Rule ** see above for more detail -->
    <!-- Following install of HTTP Redirect/URL Rewrite module uncomment the following <rewrite> tag -->
		<!--		
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="OFF" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		-->
		
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="67108864" />
			</requestFiltering>
		</security>
		
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<!-- comment out the following line on Windows Server 2016 (IIS 10) -->
			<!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />-->
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
		</staticContent>
		
		<validation validateIntegratedModeConfiguration="false" />
		
		<modules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</modules>
		
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<add name="ELMAH" verb="POST,GET,HEAD" path="elmah" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<!-- For additional options see https://content-security-policy.com/  -->
				<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval' *.virtualearth.net https://www.bing.com data: blob:;" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<!-- For X-XSS-Protection can set additional values separated by a ';'
						'mode=block'    Enables XSS filtering. Rather than sanitizing the page, the browser will prevent rendering of the page if an attack is detected.-->
				<add name="X-XSS-Protection" value="1;" />
				<!-- HTTPS consider: -->
				<add name="Strict-Transport-Security" value="max-age=31536000" />
				<!-- Prevents from leaking referrer data over insecure connections.  -->
				<add name="Referrer-Policy" value="Referrer-Policy: strict-origin" />
				<!-- other options for Referrer Policy -->
				<!--<add name="Referrer-Policy" value="Referrer-Policy: no-referrer" />
				<add name="Referrer-Policy" value="no-referrer-when-downgrade" />
				<add name="Referrer-Policy" value="origin" />
				<add name="Referrer-Policy" value="origin-when-cross-origin" />
				<add name="Referrer-Policy" value="same-origin" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
				<add name="Referrer-Policy" value="unsafe-url" />-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="enableSimpleMembership" value="false" />
		<add key="DefaultMinCharInput" value="3" />
		<add key="autoFormsAuthentication" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="HttpLogEnabled" value="true" />
		<add key="HttpLogLocation" value="" />
		<add key="ValidationImage" value="/Content/images/Warning.png" />
		<add key="ErrorLogging" value="true" />
		
		<!-- The following keys are used by the Crystal Reports Engine -->
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
		
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

		<!-- Desired time to run the Stored CheckActiveClients procedure time should be in 24hr and format is 13:30:00 -->
		<add key="DailyProcedureDesiredTime" value="00:00:00"/>
		<!-- Server offset in hours from the Users location -->
		<add key="ServerOffSetInHours" value="0"/>

    <!-- Public link override if different than IIS binding configuration -->
    <!-- base host name only for eg. "demo.hifis.ca" or "www.google.ca" without http or https -->
    <add key="OverrideHostURL" value="" />
	</appSettings>
	
	<system.web>
    <httpRuntime maxRequestLength="67108864" executionTimeout="300" enableVersionHeader="false" delayNotificationTimeout="20" />
    <customErrors mode="Off" />
		<compilation debug="false" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <authentication mode="Forms">
		<!--WithOUT SSL enabled-->
		<forms loginUrl="~/Account/LogOn" cookieless="UseCookies" timeout="90" slidingExpiration="true" />
		<!--WITH SSL enabled-->
		<!--<forms loginUrl="~/Account/LogOn" cookieless="UseCookies" timeout="90" slidingExpiration="true" requireSSL="true" />-->
    </authentication>
	
	<!--WithOUT SSL enabled-->
	<httpCookies httpOnlyCookies="true" />
	<!--With SSL enabled-->
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
		<sessionState mode="InProc" timeout="SESSION_TIMEOUT_MINUTES" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="MvcSiteMapProvider.Web.Html" />
			</namespaces>
		</pages>
		
		<siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
			<providers>
				<clear />
				<add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="5" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider" />
			</providers>
		</siteMap>
		
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</httpModules>
		
		<httpHandlers>
			<add verb="GET" path="ReportDocs/ReportViewer/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
	</system.web>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="PagedList" publicKeyToken="abbb863e9397c5e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
		</dependentAssembly>
		</assemblyBinding>
		<legacyHMACWarning enabled="0" />
	</runtime>
	
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
			
				<!-- BINDING_SECURITY_MODE_STANDARD -->
				<binding name="WSHttpBinding_Standard" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" 
						 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" 
						 maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="4194304" maxArrayLength="101943040" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
				
				<!-- BINDING_SECURITY_MODE_SECURE -->
				<binding name="WSHttpsBinding_Secure" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" 
						 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" 
						 maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="4194304" maxArrayLength="101943040" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				
				<!-- NHIS Binding -->
				<binding name="WSHttpBinding_INHIS" maxReceivedMessageSize="20971520">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		
		<!-- Client Services -->
		<client>
			<!-- ActivityService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ActivityService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ActivityServiceReference.IActivitiesService" 
				name="WSHttpBinding_IActivitiesService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- AddressService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.AddressService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="AddressServiceReference.IAddressService" 
				name="WSHttpBinding_IAddressService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- AdmissionsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.AdmissionsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="AdmissionsServiceReference.IAdmissionsService" 
				name="WSHttpBinding_IAdmissionsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ApplicationSettingsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ApplicationSettingsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ApplicationSettingsServiceReference.IAppSettingService" 
				name="WSHttpBinding_IAppSettingService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- AppointmentService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.AppointmentService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="AppointmentServiceReference.IAppointmentService" 
				name="WSHttpBinding_IAppointmentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- AuditService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.AuditService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="AuditServiceReference.IAuditService" 
				name="WSHttpBinding_IAuditService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- AuthenticationService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.AuthenticationService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="AuthenticationServiceReference.IAuthenticationService" 
				name="WSHttpBinding_IAuthenticationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- BarredService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.BarredService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="BarredServiceRefference.IBarredService" 
				name="WSHttpBinding_IBarredService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- BulletinsListService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.BulletinsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="BulletinsServiceReference.IBulletinsService" 
				name="WSHttpBinding_IBulletinsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- CallsVisitsLogService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.CallsVisitsLogService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="CallsVisitsLogServiceReference.ICallsVisitsLogService" 
				name="WSHttpBinding_ICallsVisitsLogService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- CaseManagementService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.CaseManagementService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="CaseManagementServiceReference.ICaseManagementService" 
				name="WSHttpBinding_ICaseManagementService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ChoresService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ChoresService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ChoresServiceReference.IChoresService" 
				name="WSHttpBinding_IChoresService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ClientFactorsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ClientFactorsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ClientFactorsServiceReference.IClientFactorsService" 
				name="WSHttpBinding_IClientFactorsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ClientServices -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ClientService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ClientServiceReference.IClientService" 
				name="WSHttpBinding_IClientService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ConflictService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ConflictService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ConflictServiceReference.IConflictService" 
				name="WSHttpBinding_IConflictService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ConsentService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ConsentService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ConsentServiceReference.IConsentService" 
				name="WSHttpBinding_IConsentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ContinuumService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ContinuumService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ContinuumServiceReference.IContinuumService" 
				name="WSHttpBinding_IContinuumService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- CoordinatedAccessService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.CoordinatedAccessService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="CoordinatedAccessServiceReference.ICoordinatedAccessService" 
				name="WSHttpBinding_ICoordinatedAccessService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
			<!-- CustomTables -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.CustomTablesService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="CustomTablesServiceReference.ICustomTablesService" 
				name="WSHttpBinding_ICustomTablesService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- Data Export Service -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DataExportService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="DataExportServiceReference.IDataExportService" 
				name="WSHttpBinding_IDataExportService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
			<!-- DevCommentService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DevCommentService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="DevCommentServiceReference.IDevCommentService" 
				name="WSHttpBinding_IDevCommentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- DietService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DietService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="DietServiceReference.IDietService" 
				name="WSHttpBinding_IDietService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- DigitalContactsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DigitalContactsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="DigitalContactsServiceReference.IDigitalContactsService" 
				name="WSHttpBinding_IDigitalContactsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

      <!-- DiversionService -->
      <endpoint
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DiversionService.svc"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
				contract="DiversionServiceReference.IDiversionService"
				name="WSHttpBinding_IDiversionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
			<!-- DocumentsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.DocumentsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="DocumentsServiceReference.IDocumentsService" 
				name="WSHttpBinding_IDocumentsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- EducationService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.EducationService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="EducationServiceReference.IEducationService" 
				name="WSHttpBinding_IEducationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ErrorLoggingService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ErrorLoggingService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ErrorLoggingServiceReference.IErrorLoggingService" 
				name="WSHttpBinding_IErrorLoggingService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ExcelService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ExcelService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ExcelServiceReference.IExcelService" 
				name="WSHttpBinding_IExcelService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- FinancialsService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.FinancialsService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="FinancialsServiceReference.IFinancialsService" 
				name="WSHttpBinding_IFinancialsService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- FollowUpService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.FollowUpService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="FollowUpServiceReference.IFollowUpService" 
				name="WSHttpBinding_IFollowUpService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- FoodBanksService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.FoodBanksService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="FoodBankServiceReference.IFoodBanksService" 
				name="WSHttpBinding_IFoodBanksService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- GenericTableLookupService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.GenericTableLookupService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="GenericTableLookupServiceReference.IGenericLookUpTableService" 
				name="WSHttpBinding_IGenericLookUpTableService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- GoodsAndServices_Service -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.GoodsAndServices_Service.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="GoodsAndServices_ServiceReference.IGoodsAndServices_Service" 
				name="WSHttpBinding_IGoodsAndServices_Service">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- GroupActivitiesService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.GroupActivitiesService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="GroupActivitiesServiceReference.IGroupActivitiesService" 
				name="WSHttpBinding_IGroupActivitiesService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- HealthService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.HealthService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="HealthServiceReference.IHealthService" 
				name="WSHttpBinding_IHealthService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- HifisReportService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.HifisReportService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="HifisReportServiceReference.IHifisReportService" 
				name="WSHttpBinding_IHifisReportService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- HousingPlacementService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.HousingPlacementService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="HousingPlacementServiceReference.IHousingPlacementService" 
				name="WSHttpBinding_IHousingPlacementService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- HousingRetentionService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.HousingRetentionService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="HousingRetentionServiceReference.IHousingRetentionService" 
				name="WSHttpBinding_IHousingRetentionService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
			<!-- HousingUnitService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.HousingUnitService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="HousingUnitServiceReference.IHousingUnitService" 
				name="WSHttpBinding_IHousingUnitService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- IdentificationService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.IdentificationService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="IdentificationServiceReference.IIdentificationService" 
				name="WSHttpBinding_IIdentificationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- IncidentService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.IncidentService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="IncidentServiceReference.IIncidentService" 
				name="WSHttpBinding_IIncidentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- IndianStatusService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.IndianStatusService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="IndianStatusServiceReference.IIndianStatusService" 
				name="WSHttpBinding_IIndianStatusService">
				<identity>
					<dns value="localhost" />
				</identity>

			</endpoint>
			
			<!-- MainMenuService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.MainMenuService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="MainMenuServiceReference.IMainMenuService" 
				name="WSHttpBinding_IMainMenuService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- MessageService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.MessageService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="MessageServiceReference.IMessageService" 
				name="WSHttpBinding_IMessageService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- NHIS Service -->
			<endpoint 
				address="https://webservices.hifis.ca/NHIS.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INHIS" 
				contract="NHISService.INHIS" 
				name="WSHttpBinding_INHIS">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- OutreachService -->
			<endpoint
					  address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.OutreachService.svc"
					  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard"
					  contract="OutreachServiceReference.IOutreachService"
					  name="WSHttpBinding_IOutreachService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
			<!-- OrganizationService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.OrganizationService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="OrganizationServiceReference.IOrganizationService" 
				name="WSHttpBinding_IOrganizationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- PeopleService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.PeopleService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="PeopleServiceReference.IPeopleService" 
				name="WSHttpBinding_IPeopleService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- Pit Event Service -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.PitEventService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="PitEventServiceReference.IPitEventService" 
				name="WSHttpBinding_IPitEventService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
			<!-- PlaceService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.PlaceService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="PlaceServiceReference.IPlaceService" 
				name="WSHttpBinding_IPlaceService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- ProgramService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.ProgramService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="ProgramServiceReference.IProgramService" 
				name="WSHttpBinding_IProgramService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- QuestionnaireService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.QuestionnaireService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="QuestionnaireServiceReference.IQuestionnaireService" 
				name="WSHttpBinding_IQuestionnaireService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<!-- Registration Service -->
				<endpoint 
					address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.RegistrationService.svc" 
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
					contract="RegistrationServiceReference.IRegistrationService" 
					name="WSHttpBinding_IRegistrationService">
					<identity>
						<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- SideMenuService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.SideMenuService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="SideMenuServiceReference.ISideMenuService" 
				name="WSHttpBinding_ISideMenuService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- SPDATService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.SPDATService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="SPDATServiceReference.ISPDATService" 
				name="WSHttpBinding_ISPDATService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- StorageService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.StorageService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="StorageServiceReference.IStorageService" 
				name="WSHttpBinding_IStorageService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- SupportService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.SupportService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="SupportServiceReference.ISupportService" 
				name="WSHttpBinding_ISupportService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- TurnawaysService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.TurnawaysService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="TurnawaysServiceReference.ITurnawaysService" 
				name="WSHttpBinding_ITurnawaysService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- UsersService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.UsersService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="UsersServiceReference.IUsersService" 
				name="WSHttpBinding_IUsersService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- VATService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.VATService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="VATServiceReference.IVATService" 
				name="WSHttpBinding_IVATService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- VeteransService -->
			<endpoint 
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.VeteransService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="VeteransServiceReference.IVeteransService" 
				name="WSHttpBinding_IVeteransService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			
			<!-- WaitingListService -->
			<endpoint   
				address="http://HIFIS_DOMAIN_ADDRESS/HIFIS.DOMAIN.BusinessServices.WaitingListService.svc" 
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Standard" 
				contract="WaitingListServiceReference.IWaitingListService" 
				name="WSHttpBinding_IWaitingListService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	
	<system.net>
		<!-- Mail Settings -->
		<mailSettings>
			<smtp from="SMTP_EMAIL">
				<network 	host="SMTP_HOST" 
							port="SMTP_PORT" 
							enableSsl="SMTP_ENABLE_SSL" 
							password="SMTP_PASSWORD" 
							userName="SMTP_USERNAME"  />
			</smtp>
		</mailSettings>
		
		<defaultProxy enabled="true" />
		<settings>
		</settings>
		<connectionManagement>
			<add address="*" maxconnection="20"/>
		</connectionManagement>
	</system.net>
	
	<dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!--<add name="localhost" />-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="false" />
	</dotNetOpenAuth>
	
	<connectionStrings>
		<add name="HIFIS_HelpEntities" connectionString="metadata=res://*/HIFISHelpDatabase.HifisHelpModel.csdl|res://*/HIFISHelpDatabase.HifisHelpModel.ssdl|res://*/HIFISHelpDatabase.HifisHelpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA_SOURCE;initial catalog=INITIAL_CATALOG;persist security info=True;user id=USER_ID;password=USER_PASSWORD;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<elmah>
		<security allowRemoteAccess="yes"/>
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ELMAH_LOG_DIR" />
	</elmah>
</configuration>