<p class="">
    <label class="custom-file">
        @Html.TextBoxFor(m => m, new { type = "file", multiple = "multiple", @class = "custom-file-input" })
        <span class="custom-file-control file-content-setter" data-content-before="@Labels.Browse" data-content-after="@Labels.SelectAFile"></span>
    </label>
</p>