@{
	ViewBag.Title = "Trial Expired";
	ViewBag.ViewTitle = "Trial Expired";
	ViewBag.LayoutView = LayoutPage.ContentOnly;
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="alert alert-warning wb-init wb-collapsible-inited open" id="alert-warning" open="">
	<p> Your trial period of 3 months has ended. Please register to continue using the application.</p>
</section>