@model GroupActivityViewModel
@{
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    ViewBag.ViewTitle = Labels.viewTitle_NewGroupActivity;
}

<div>
    @using (Html.BeginForm("New", "GroupActivities", FormMethod.Post, new { @class = "form-horizontal", id = "myForm" }))
    {
        @Html.Partial("_Activity", Model)
        @Html.Partial("_BaseHiddenFor")
                                    
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="saveButton  ">@Labels.Save</button>
                    @Html.ActionLink(Labels.Cancel, "List", "GroupActivities", new { }, new { @class = "cancelButton  ", title = Labels.Cancel, alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
                </div>
            </div>
	    </div>    
    }
</div>