@model List<AppSettingViewModel>

<table id="GeoTable" class="wb-tables table table-striped table-hover" data-wb-tables='{ "columns": [
                                                                                { "width": "40%", "data": "name"},
                                                                                { "width": "15%", "data": "count"},
                                                                                { "width": "20%", "data": "action"}
                                                                            ],
                                                                            "order": [ [0, "desc"] ],
                                                                            "ajax": "@Url.Content("~/ApplicationSettings/GetGeoListJson")"                         
                                                                        }'>
    <thead>
        <tr>
            <th class="align-text-center">@Labels.GeoRegion</th>
            <th class="align-text-center">@Labels.CityCount</th>
            <th class="align-text-center">@Labels.Action</th>
        </tr>
    </thead>
    <tbody class="align-text-center">
    </tbody>
</table>


@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
           
             //This will decorate buttons an things correctly when table is drawn
             $('#GeoTable').on('draw.dt', function () {
                 init_hifis();

                 //This re-init any lightboxes that are dynamically added via the datables reload call
                 $(".wb-lbx").trigger("wb-init.wb-lbx");
             });

        </script>
    );
}