@model PeopleVitalsViewModel 
@{
	ViewBag.ViewTitle = Labels.NewPerson;
	
	ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")


<div>
	@using (Html.BeginForm("NewVitals", "PeopleTombstone", FormMethod.Post, new { @class = "form-horizontal", id="testForm" }))
	{
		@Html.Partial("_PeopleVitals", Model) 
		
		<div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="saveButton">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "Search", "PeopleTombstone", null, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
            </div>
		</div>          
	}
</div>
