<div id="NoResultsDiv" class="row">
    <section class="col-md-12">
        <div class="well well-sm mrgn-tp-sm">
            <h5 class="mrgn-tp-0">
                @Labels.CouldNotLoadBookedInClients
            </h5>
            @Labels.NoClientsCurrentlyBookedIntoOrg
        </div>
    </section>
</div>
