@{
    var regex = "/[a-z]|[0-9]/";
    if (ViewBag.passRegex != null && ViewBag.passRegex != "")
    {
        regex = "/"+ViewBag.passRegex+"/";
    }
}
<div>@Html.Raw(ViewBag.PasswordComplexityHelp)</div>
<div class="form-group">
    <label class="control-label col-sm-3">@*<label for="NewPassword">Password Strength</label>*@</label>
    <div class="col-sm-5">
        <progress id="passProgress" max="3" value="0" style="height: 38px;margin-bottom: -5px;"></progress>
        @*<div class="progress" style="height: 35px;margin-top: 3px;margin-bottom: 0px;">

                <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>*@
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            $(function () {
                var passField = document.getElementById('NewPassword');

                var minPassLength = '@ViewBag.minPassLength';
                var minNonAlpha = '@ViewBag.minNonAlpha';
                var regex = @regex;

                var minPassBool = false;
                var minNonAlphaBool = false;
                var regexBool = false;

                $("#submitBtn").prop('disabled', true);

                $('#NewPassword').on('input', function () {
                    
                    var progBar = document.getElementById('passProgress');

                    if (passField.value.length >= minPassLength) {
                        if(minPassBool == false) {
                            minPassBool = true;
                            progBar.value += 1;
                        }
                    }else{
                        if (minPassBool == true) {
                            minPassBool = false;
                            if (progBar.value != 0)
                                progBar.value -= 1;
                        }
                    }

                    if ((passField.value.match(/[^a-z0-9]/gi) || []).length >= minNonAlpha) {
                        if (minNonAlphaBool == false) {
                            minNonAlphaBool = true;
                            progBar.value += 1;
                        }
                    } else {
                        if (minNonAlphaBool == true) {
                            minNonAlphaBool = false;
                            if (progBar.value != 0)
                                progBar.value -= 1;
                        }
                    }

                    if (passField.value.match(regex)) {
                        if (regexBool == false) {
                            regexBool = true;
                            progBar.value += 1;
                        }
                    } else {
                        if (regexBool == true) {
                            regexBool = false;
                            if (progBar.value != 0)
                                progBar.value -= 1;
                        }
                    }

                    if(passField.value.length >= minPassLength
                    && (passField.value.match(/[^a-z0-9]/gi) || []).length >= minNonAlpha
                    && passField.value.match(regex)
                    ){
                        $("#submitBtn").prop('disabled', false);
                    } else {
                        $("#submitBtn").prop('disabled', true);
                    }

                });
                //&& $('#ConfirmPassword').val() == passField.value
                //$('#ConfirmPassword').on('input', function () {
                //    if ($('#ConfirmPassword').val() == passField.value) {
                //        $("#submitBtn").prop('disabled', false);
                //    } else {
                //        $("#submitBtn").prop('disabled', true);
                //    }
                //});
            });
        </script>

);
}