@{
    ViewBag.ViewTitle = Labels.ResetPassword;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    bool showPassAge = true;
    if (ViewBag.PassAgeLimit == null || ViewBag.PassAgeLimit == 0)
    {
        showPassAge = false;
    }
}

<section class="alert alert-info">
    <h3>Password Reset Successful / Réinitialisation du mot de passe réussie</h3>
    <br />

    <p>Your password was reset successfully. You can now log back into your account through the login page.</p>
    <br />
    @if (showPassAge) { <p>Your password will expire in <b>@ViewBag.PassAgeLimit</b> days. </p> }

    <hr />

    <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant accéder à votre profil à travers la page de connexion.</p>
    <br />
    @if (showPassAge) { <p>Votre mot de passe expirera dans <b>@ViewBag.PassAgeLimit</b> jours.</p> }

</section>

<a class="btn btn-default" href="~/Account/LogOn" role = "button">@Labels.logIn <span class="glyphicon glyphicon-log-in"></span></a>

